
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');

body {
      text-indent: 20px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
    }

h1 {
  font-family: 'Inknut Antiqua', serif;
}
